.downloading-wrapper {
    position: absolute;
    bottom: 10%;
    left: 18%;
    width: 60%;
    height: 18%;
    min-height: 65px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #222;
    border-radius: 20px;
    background-color: black;
}

.downloading-wrapper .icon {
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    width: 17%;
}

.downloading-wrapper .poster {
    height: 100%;
}

.downloading-wrapper .text-wrapper {
    width: 180px;
    text-align:  start !important;
}

.downloading-wrapper .text-wrapper .title {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 15px;
}

.downloading-wrapper .text-wrapper .small-text {
    font-size: .9rem;
    color: #0071eb;
    margin-top: 0;
}

.phone-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

.phone-wrapper .phone {
    position: relative;
    bottom: 12%;
    width: 100%;
}

.section-two-heading {
    position: relative;
    top: 80px;
}

@media screen and (max-width: 1100px) {
    .section-two-heading {
        top: 20px;
    }
}