.membership-form {
    width: 100%;
    max-width: 830px;
    display: flex;
    height: 60px;
    margin: 0 auto;
}

.membership-form input {
    width: 67%;
    height: 100%;
    padding: 0;
    padding-left: 15px;
    font-size: 1.2rem;
    border: none;
}

.membership-form button {
    width: 33%;
    /* font-size: 2rem; */
    height: 100%;
    padding: 0;
    border: none;
    font-size: 1.625rem;
    color: white;
    background-color: #e40914;
}

.membership-form button i {
    position: relative;
    left: 5px;
}

.small-text-membership-form {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .membership-form {
        display: block;
    }

    .membership-form input {
        display: block;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }

    .membership-form button {
        width: auto;
        height: auto;
        display: block;
        font-size: 1rem;
        padding: 11px 15px;
        border-radius: 3px;
        margin: 15px auto;
    }
}

@media screen and (max-width: 750px) {
    .membership-form {
        height: 50px;
    }
}

@media screen and (max-width: 600px) {
    .membership-form input {
        padding-left: 0;
        padding-right: 0;
    }
}