.hero-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-img-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(transparent, #000000a3);
    background-color: rgba(0, 0, 0, .4);
}

.hero-text-box {
    position: relative;
    top: 250px;
    color: white;
    width: 90%;
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.hero-text-box h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1.1;
}

.hero-text-box .sub-title {
    font-size: 1.625rem;
    margin: 10px 0;
}

.hero-wrapper {
    position: relative;
    height: 745px;
    /* max-height: 70vh; */
    width: 100%;
    border-bottom: 9px solid #222;
}

@media screen and (max-width: 1450px) {
    .hero-text-box h1 {
        font-size: 3.125rem;
    }
}

@media screen and (max-width: 550px) {
    .hero-text-box h1 {
        font-size: 1.75rem;
    }

    .hero-text-box .sub-title {
        font-size: 1.25rem;
    }
}