.faq-section h2 {
    color: white;
    font-size: 3.125rem;
    text-align: center;
}

.faq-section .form-wrapper {
    margin: 65px auto;
    width: 90%;
}

.section-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-flex-wrapper h2 {
    font-size: 3.125rem;
    margin-bottom: 0;
    line-height: 60px;
}

.section-flex-wrapper p {
    font-size: 1.625rem;
    margin: 10px 0;
}

.section-outer-wrapper {
    border-bottom: 9px solid #222;
}

.section-flex-wrapper.two {
    padding-top: 0px;
}

.flex-contents {
    width: 46%;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .flex-contents {
        width: 100%;
        text-align: center;
    }

    .section-flex-wrapper.two {
        flex-direction: column-reverse;
    }

    .section-flex-wrapper.one {
        padding: 10px 0;
    }

    .section-flex-wrapper.three {
        padding: 10px 0;
    }
}

@media screen and (max-width: 950px) {
    .section-outer-wrapper h2 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .section-outer-wrapper .section-sub-heading {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 550px) {
    .section-outer-wrapper h2 {
        font-size: 1.625rem;
        line-height: 30px;
    }
}