.faq-section h2 {
    color: white;
    font-size: 3.125rem;
    text-align: center;
}

.faq-section .form-wrapper {
    margin: 65px 0;
}

.section-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;
    color: white;
    width: 1200px;
    margin: 0 auto;
}

.section-flex-wrapper h2 {
    font-size: 3.125rem;
    margin-bottom: 0;
    line-height: 60px;
}

.section-flex-wrapper p {
    font-size: 1.625rem;
    margin: 10px 0;
}

.section-outer-wrapper {
    border-bottom: 9px solid #222;
}

.flex-contents {
    width: 46%;
    position: relative;
}
