.tv-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    bottom: 50px;
}

.tv-wrapper img {
    position: relative;
    height: auto;;
    width: 100%;
    z-index: 100;
    max-width: 500px;
}

.tv-wrapper video {
    position: absolute;
    left: 14%;
    top: 21%;
    height: 54%;
    z-index: 5;
}