.tv-wrapper {
    position: relative;
    width: 100%;
    max-width: 660px;
    bottom: 50px;
    margin: 0 auto;
}

.tv-wrapper img {
    position: relative;
    height: auto;;
    width: 100%;
    z-index: 100;
    max-width: 700px;
}

.tv-wrapper video {
    position: absolute;
    left: 14%;
    top: 21%;
    height: 54%;
    z-index: 5;
}

@media screen and (max-width: 1100px) {
    .tv-wrapper {
        bottom: 0;
    }
}